<div class="col-sm-4 col-lg-4 col-md-4">
  <div class="thumbnail">
    <img src="/homepage_files/320x150">
    <div class="caption">

      <h5><a href="#">Fifty Shades of Grey</a></h5>
      <h6 class="pull-right"><%= "Selling Price: $"+data.sellprice %>
        <br><%= "Rent Price: $"+data.rentprice %></h6>

      <h6>by That Lady</h6>
      <h6><%= "Posted by: " + data.username %><h6>
      <h6><%= "ISBN-13: " + data.isbn13 %><h6>

      <!-- only show snippet & print "No description" instead of "null"-->
      <p><%= "Description: " + data.description %></p> 

    </div> <!-- caption -->

    <!--Implement ratings later...-->
    <!-- <div class="ratings">
      <p class="pull-right">
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
      </p>
        <p>Seller rating</p>
    </div> -->
  </div>
</div>